<div style="height: 10px">
</div>

<%= form_with(model: customer, method: 'patch', :html => {:id => 'customer_address_form'}) do |form| %>

  <%= form.fields_for :addresses, customer.addresses.last do |address_form| %>


    <field>
      <%= form.hidden_field :id %>
    </field>

  <fieldset>
    <field>
      <%= address_form.label :name %>
      <%= address_form.text_field :name %>
    </field>
    <field>
      <%= address_form.label :address_line_1 %>
      <%= address_form.text_field :address_line_1 %>
    </field>
    <field>
      <%= address_form.label :address_line_2 %>
      <%= address_form.text_field :address_line_2 %>
    </field>
    <field>
      <%= address_form.label :postal_town %>
      <%= address_form.text_field :postal_town %>
    </field>
      <field>
        <%= address_form.label :county %>
        <%= address_form.text_field :county %>
      </field>
      <field>
        <%= address_form.label :post_code %>
        <%= address_form.text_field :post_code %>
      </field>
      <field>
        <%= address_form.label :country %>
        <%= address_form.text_field :country %>
      </field>
    </fieldset>
  <% end %>

<% end %>
