<h1>Edit Customer Address</h1>

<controls>
  <%= button_tag "Update", form: "customer_address_form", formaction: update_customer_address_path(@customer.id, params[:address_id]), method: :patch %>
  <%= button_tag "Delete", form: "delete_customer_address_form", formaction: destroy_customer_address_path(@customer.id, params[:address_id]), method: :delete %>
  <%= link_to "Back", index_customer_address_path(@customer.id), role: "button" %>
</controls>

<%= form_with model: @customer, method: :delete, :html => {:id => 'delete_customer_address_form'} do |form| %>
  <input type="hidden" name="address_id" value=<%= params[:address_id] %>>
  <input type="hidden" name="customer_id" value=<%= params[@customer.id] %>>
<% end %>

<%= render "form", customer: @customer %>


