<div style="height: 10px">
</div>

<%= form_with(model: customer, url: false, :html => {:id => 'customer_form'}) do %>
  <fieldset <%= 'disabled' if disabled %>>
    <%= text_field(@customer, :id) %>
    <%= text_field(@customer, :company_name) %>
    <%= text_field(@customer, :contact_name) %>
    <%= text_field(@customer, :contact_title) %>
    <%= text_field(@customer, :phone) %>
    <%= text_field(@customer, :fax) %>    
  </fieldset>
<% end %>

