<h1>Customer</h1>
<%= turbo_stream_from @customer %>

<controls>
  <%= link_to "Edit", edit_customer_path(@customer), role: "button" %>
  <%= link_to "Addresses", index_customer_address_path(@customer), role: "button" %>
  <%= link_to "Back", customers_path, role: "button" %>
</controls>

<%= render "form", customer: @customer, disabled: true %>
