<div style="height: 10px">
</div>
<%= form_with(url: false, :html => {:id => 'order_form'}) do %>
  <fieldset <%= 'disabled' if disabled %>>
    <%= text_field(@order, :id) %>
    <%= text_field(@order, :employee_id) %>
    <%= text_field(@order, :customer_id) %>
    <%= date_field(@order, :order_date) %>
    <%= date_field(@order, :shipped_date) %>
    <%= text_field(@order, :address_id) %>
    <%= money_field(@order, :shipping_fee) %>
    <%= text_field(@order, :payment_type) %>
    <%= date_field(@order, :paid_date) %>
    <%#= text_field(@order, :order_status) %>
  </fieldset>
<% end %>
