<div style="height: 10px">
</div>


<%= form_with(model: supplier, url: false, :html => {:id => 'supplier_form'}) do |f| %>

  <fieldset <%= 'disabled' if disabled %>>

    <%= field(supplier, :id) %>
    <%= field(supplier, :company_name) %>
    <%= field(supplier, :contact_name) %>
    <%= field(supplier, :contact_title) %>
    <%= field(supplier, :region) %>
    <%= field(supplier, :phone) %>
    <%= field(supplier, :fax) %>    
    <%= field(supplier, :homepage) %>

  </fieldset>

<% end %>
