<!DOCTYPE html>
<html>
  <head>
    <title>Rails Hotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>
  <body>
    <top>
      <header>
        <input id="menu" type="checkbox" />
        <span style="padding-right: 5px">
          <a href="/">Northwind</a>
        </span>
        <nav>
          <ul>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/employees">Employees</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/regions">Regions</a></li>
            <li><a href="/shippers">Shippers</a></li>
            <li><a href="/suppliers">Suppliers</a></li>
          </ul>
          <ul>
            <li>
              <span>Hello</span>
            </li>
            <li>
              <Logout />
            </li>
          </ul>
        </nav>
        <label for="menu" />
      </header>
    </top>
    <p class="notice"><%#= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
