<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>
  <body class="<%= "turbo-native" if turbo_native_app? %>">
    <%= render "shared/header", title: page_title %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="<%= 'header-spacer' if !turbo_native_app? %>">
      <h1 class="turbo-native-hidden"><%= page_title %></h1>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
